Welcome to Elephant World

<form id = "newelephantform" method = "post" action = "/elephants">
<input id = "name" type = "text" name = "name"/>
<input id = "color" type = "text" name = "color"/>
<input id = "weight" type = "text" name = "weight"/>
<input id = "new" type = "submit" value = "make new elephant!">
</form>

<% @elephants.each do |i| %>
	<%=i.name%> 
	<%=i.color%>
	<%=i.weight%>
	
	<a href="/elephants/<%= i.id %>">show</a>
		
	<form id ="flip" method="post" action="/elephants/<%= i.id %>">
	<input type="hidden" name="_method" value="delete">
	<input id="button" type="submit" value="delete"/>
	</form>
	
	<br>
<%end%>