<%= erb :index %>
<%Elephants.each do |i| %>
	<%=i.name%> 
	<%=i.color%>
	<%=i.weight%>
	
	<a href="/elephants/<%= i.id %>">show</a>
		
	<form id ="flip" method="post" action="/elephants/<%= i.id %>">
	<input type="hidden" name="_method" value="delete">
	<input id="button" type="submit" value="delete"/>
	</form>
	
	<br>
<%end%>